[report]
exclude_lines =
    # Don't complain about defensive assertions
    raise NotImplementedError
    raise AssertionError

    # Don't complain about non-runnable code
    if __name__ == .__main__.:

omit =
    /usr/*
    py_env/*
    */__init__.py

    # Ignore test coverage
    tests/*

    # Mako templates have unrunnable code
    *_mako
