body {
    font-family: sans-serif;
}

canvas {
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 640px;
    margin: auto;
    text-align: center;
}

td, th {
    padding: 5px;
    border: 1px solid #ccc;
}

td {
    text-align: left;
    white-space: nowrap;
}

.metric-up, .metric-up a {
    color: #911;
    background-color: #f88;
}

.metric-up:before {
    content: '▲';
    text-decoration: none;
}

.metric-down, .metric-down a {
    color: #070;
    background-color: #cfc;
}

.metric-down:before {
    content: '▼';
    text-decoration: none;
}

.metric-none, .metric-none a {
    color: #333;
    background-color: #ccc;
}

.date-picker {
    margin: 20px;
    text-align: center;
}

