body {
    font-family: sans-serif;
    text-align: center;
}

a {
    color: #000;
}

canvas {
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
}

table {
    width: 1px;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
    border-right: 1px solid #ccc;
}

tbody {
    border-top: 3px solid #ccc;
}

tbody.collapsed {
    border-top: 0;
}

tbody .dummy-row {
    display: none;
}

tbody.collapsed tr {
    display: none;
}

tbody.collapsed .dummy-row {
    display: table-row;
}

.group-name {
    cursor: pointer;
    text-align: left;
    vertical-align: top;
    white-space: nowrap;
}

.group-name:before {
    background: linear-gradient(to bottom, #999999 0%, #666666 75%, #333333 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #333;
    border-radius: 3px;
    display: inline-block;
    font-size: 0.75em;
    line-height: 0.75em;
    padding: 3px;
    width: 0.75em;
    height: 0.75em;
    text-align: center;
    content: '-';
}

.collapsed .group-name:before {
    content: '+';
}


.collapsed td {
    display: none;
}

td, th {
    padding: 5px;
    border: 1px solid #ccc;
}

td {
    text-align: left;
    white-space: nowrap;
}

.dummy-cell {
    border: 0;
}

.metric-up,
.metric-up a,
.color-override .metric-down,
.color-override .metric-down a {
    color: #911;
    background-color: #f88;
}

.metric-up:before {
    content: '▲';
    text-decoration: none;
}

.metric-down,
.metric-down a,
.color-override .metric-up,
.color-override .metric-up a {
    color: #070;
    background-color: #cfc;
}

.metric-down:before {
    content: '▼';
    text-decoration: none;
}

.metric-none, .metric-none a {
    color: #333;
    background-color: #ddd;
}

.date-picker {
    margin: 20px;
    text-align: center;
}

/** Graph specific styles */

#graph {
    margin-bottom: 40px;
    display: inline-block;
    width: 1000px;
    height: 600px;
}

.xAxis .tickLabel {
    margin-top: 40px;
    white-space: nowrap;
    -ms-transform:rotate(-90deg); /* IE 9 */
    -moz-transform:rotate(-90deg); /* Firefox */
    -webkit-transform:rotate(-90deg); /* Safari and Chrome */
    -o-transform:rotate(-90deg); /* Opera */
    transform: rotate(-90deg);
}

.changes-block {
    display: inline-block;
    vertical-align: top;
}


/** Commit specific styles */

.debt-stats-table {
    width: 1px;
}

.debt-stats-table tbody {
    text-align: left;
}

.layout-table,
.layout-table td,
.layout-table tbody,
.layout-table tr {
    border: 0;
}
