.git-code-debt {
    font-family: sans-serif;
}

.git-code-debt table {
    width: 1px;
    border-collapse: collapse;
    border-right: 1px solid #ccc;
}

.git-code-debt thead {
    text-align: center;
}

.git-code-debt tbody {
    border-top: 3px solid #ccc;
}

.git-code-debt td,
.git-code-debt th {
    padding: 5px;
    border: 1px solid #ccc;
}

.git-code-debt td {
    text-align: left;
    white-space: nowrap;
}

.git-code-debt .metric-up,
.git-code-debt .metric-up a,
.git-code-debt .color-override .metric-down,
.git-code-debt .color-override .metric-down a {
    color: #911;
    background-color: #f88;
}

.git-code-debt .metric-up:before {
    content: '▲';
    text-decoration: none;
}

.git-code-debt .metric-down,
.git-code-debt .metric-down a,
.git-code-debt .color-override .metric-up,
.git-code-debt .color-override .metric-up a {
    color: #070;
    background-color: #cfc;
}

.git-code-debt .metric-down:before {
    content: '▼';
    text-decoration: none;
}
