name: main

on:
  push:
    branches: [main, test-me-*]
    tags: '*'
  pull_request:

jobs:
  main-latest-git:
    uses: asottile/workflows/.github/workflows/tox.yml@v1.7.0
    with:
      env: '["py39"]'
  main:
    uses: asottile/workflows/.github/workflows/tox.yml@v1.7.0
    with:
      env: '["py39", "py310", "py311"]'
